$white: hsl(0, 0%, 100%);

$stone100: hsl(30, 54%, 90%);
$stone150: hsl(30, 18%, 87%);
$stone600: hsl(30, 10%, 34%);
$stone900: hsl(24, 5%, 18%);

$brown800: hsl(14, 45%, 36%);

$rose800: hsl(332, 51%, 32%);
$rose50: hsl(330, 100%, 98%);
$font-size: 16px;

$weight400: 400;
$weight600: 600;
$weight700: 700;

$desktop-screen: 1440px;
$mobile-screen: 375px;
